html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
header {
    margin-bottom: 5px;
    margin-top: 5px;
}
footer {
    margin-bottom: 5px;
    margin-top: 5px;
}
table {
    border-spacing: 20px 5px;
}
td {
    vertical-align: top;
}
textarea {
    overflow-y: scroll;
    height: 70px;
    width: 300px;
}
.error {
    font-style: oblique;
    font-size: 12px;
    color: firebrick;
}
.header-content {
    background-color: gainsboro;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 5px;
    max-height: 10%;
    overflow-wrap: break-word;
}
.application-title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.languages-content {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}
.language-element {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
.footer-content {
    background-color: steelblue;
    border-radius: 5px;
    max-height: 10%;
    overflow-wrap: break-word;
    text-align: center;
}
.application-footer-data {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: honeydew;
}
.wrapper-middle-context {
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.wrapper-leftbar-content {
    background-color: lightblue;
    width: 20%;
    height: 50%;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
}
.wrapper-main-content {
    background-color: aliceblue;
    width: 80%;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}
.link-sequence {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
}
.main-content {
    padding: 15px;
    height: inherit;
}
.news-element {
    border-style: groove;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.leftbar-element {

}
.wrapper-title-date {
    justify-content: space-between;
    margin-bottom: 5px;
}
.news-title-elem {
    font-weight: 600;
    display: inline-block;
}
.news-date-elem {
    display: inline-block;
    float: right;
    margin-right: 15px;
}
.news-brief-elem {
    color: firebrick;
}
.wrapper-action-elements {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
}
.link-elem {
    color: midnightblue;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.checkbox-elem {
    display: inline-block;
}
.button-delete-elem {
    float: right;
}
.button-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: midnightblue;
    text-decoration: underline;
    font-family: inherit;
    font-size: 13px;
}
.wrapper-button-elements {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
}
.button-elem {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}