h1 {
    font-style: oblique;
    font-size: 20px;
}
.header {
    position:fixed;
    left:0px;
    top:0px;
    height:30px;
    width:100%;
    background:#999;
}
.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}