h1 {
    font-style: oblique;
    font-size: 20px;
}
header {
    margin-bottom: 5px;
    margin-top: 5px;
}
footer {
    margin-bottom: 5px;
    margin-top: 5px;
}
.error {
    font-style: oblique;
    font-size: 12px;
    color: firebrick;
}
.header-content {
    background-color: gainsboro;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 5px;
    max-height: 10%;
    overflow-wrap: break-word;
}
.application-title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.languages-content {
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    text-align: justify;
}
.language-element {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.footer-content {
    background-color: steelblue;
    border-radius: 5px;
    max-height: 10%;
    overflow-wrap: break-word;
    text-align: center;
}
.application-footer-data {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: honeydew;
}
.wrapper-middle-context {
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.wrapper-leftbar-content {
    background-color: lightblue;
    width: 20%;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
}
.wrapper-main-content {
    background-color: aliceblue;
    width: 80%;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}
.link-sequence {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
}
.main-content {
    background-color: cadetblue;
    padding: 15px;
}
.news-element {
    background-color: gainsboro;
    padding: 5px 10px;
}
.leftbar-element {

}
.news-title-elem {
    color: firebrick;
}
.news-date-elem {
    color: forestgreen;
}
.news-brief-elem {
    color: chocolate;
}
.link-elem {
    color: midnightblue;
}